@{
    ViewData["Title"] = "Blog";
}

<div class="container-blog">
    <div class="section" id="section1">
        <img src="~/Images/alpi.jpg">
        <div class="section-content">
            <h2>O kompaniji</h2>
            <p>Ginic Skije je inovativna kompanija specijalizovana za proizvodnju vrhunskih skija namenjenih profesionalnim skijašima, rekreativcima i freestyle entuzijastima. Osnovana 2024. godine od strane strastvenog skijaša i inženjera Marka Ginića, kompanija je brzo stekla reputaciju zahvaljujući visokom kvalitetu, naprednim tehnologijama i jedinstvenom dizajnu svojih proizvoda.</p>
        </div>
    </div>

    <div class="section" id="section2">
        <img src="~/Images/alpi.jpg">
        <div class="section-content">
            <h2>Vizija i misije</h2>
            <p>Ginic Skije teži tome da postane lider u industriji skijaške opreme, pružajući sportistima najbolje moguće performanse na snegu. Njihova misija je da spoje tradiciju i inovaciju, stvarajući skije koje omogućavaju savršenu kontrolu, stabilnost i brzinu, bez obzira na uslove na stazi.</p>
        </div>
    </div>

    <div class="section" id="section3">
        <img src="~/Images/alpi.jpg">
        <div class="section-content">
            <h2>Tehnologija i inovacije</h2>
            <p>Kompanija koristi najsavremenije materijale, uključujući karbonska vlakna, titanijumske legure i specijalne drvene jezgre kako bi obezbedila optimalan balans između čvrstoće i fleksibilnosti. Posebna pažnja posvećena je aerodinamičkom dizajnu i specijalnom premazu koji smanjuje trenje i poboljšava klizanje na snegu.</p>
        </div>
    </div>
</div>



<script src="~/js/scrollBlog.js">
</script>
