      <!-- HOME -->
<section id="home">
    <div class="container">
        <h1><b>Dobrodosli</h1>
        <h1><span><b>NAJBOLJENJE CENE</b></span> Ove sezone</h1>
        <p>Sva oprema koja vam treba</p>
        <a href="/Ski/Index"> <button class="text-uppercase">dsadsdas</button></a>
    </div>
</section>

<!--BRENDOVI SLIKE-->
<hr>
<section id="brand" class="container">
    <div class="row">
        <!--col-lg-3 znaci da za vece ekrane vece od 992px jedna slika ce zauzimati 3 od 12 grid kolona-->
        <img class="img-fluid col-lg-3 col-md-6 col-sm-12 " src="~/Images/AtomicLogo-removebg-preview.png" />
        <img class="img-fluid col-lg-3 col-md-6 col-sm-12 " src="/Images/fischerLogo_resized.png" />
        <img class="img-fluid col-lg-3 col-md-6 col-sm-12 " src="~/Images/nordicaLogo.jpg" />
        <img class="img-fluid col-lg-3 col-md-6 col-sm-12 " src="/Images/headLogo.png" />

    </div>
</section>
<hr>
</section>
<!--Baner-->
<section id="banner" class="my-5 py-5">
    <div class="container">
        <h4><b>Upoznaj nas!</b></h4>
        <h1><b>Vidi ko smo mi!</b></h1>
        <a href="blog.php"><button class="text-uppercase">Procitaj </button></a>
    </div>
</section>
<!--SHOPOVI sa bootstrap klasama za size kolone-->
 