@model User

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4" style="width: 350px;">
        <h3 class="text-center">Login</h3>
        <form method="post" action="/Account/Login">
            <div class="mb-3">
                <label class="form-label">Usernamee</label>
                <input type="text" name="Username" class="form-control" placeholder="Enter username" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="Password" class="form-control" placeholder="Enter password" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        @if (ViewBag.Error != null)
        {
            <p class="text-danger text-center mt-2">@ViewBag.Error</p>
        }
    </div>
</div>
