@* Views/Account/Register.cshtml *@
@model User
<form method="post" action="/Account/Register">
    <input type="text" name="Username" placeholder="Username" required />
    <input type="password" name="Password" placeholder="Password" required />
    <button type="submit">Register</button>
</form>